@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/*Our signup form looks pretty basic. First perform some reset and set the background color. Get rid of all default margins/paddings*/
body{
    box-sizing: border-box;
    margin:0;
    padding:0;
    background-color: white;
    font-family: "lato", sans-serif;
}
/* Put the Form the form in the Center both horizontally and vertically. and set it's height to 100% of the viewport's height.*/
.loginForm{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form{
    background-color: white;
    width:400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}
/* Style the title and add some space under the element.*/
.title{
    font-size: 50px;
    margin-bottom: 50px;
}

.submitButton{
    display:block;
    margin-left: auto;
    padding:15px 30px;
    border:none;
    color:white;
    cursor:pointer;
    margin-top:30px;
    font-size: 15px;
    background-color: teal;
    border-radius: 50px;
}
.submitButton:hover{
    transform:translateY(-2px);
    transition: all 2s ease;
    background-color: rgb(100, 218, 218);
}
.inputContainer{
    position:relative;
    height:45px;
    width:90%;
    margin-bottom: 18px;
}
.input{
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:100%;
    border:1px solid #DADCE0;
    border-radius:8px;
    font-size:16px;
    padding: 0 20px;
    outline:none;
    background:none;
    z-index: 1;
}
::placeholder{
    color:transparent;
}
.label{
    position: absolute;
    top:15px;
    left:15px;
    padding:0 4px;
    background-color: white;
    color:#DADCE0;
    font-size: 16px;
    transition:0.7s;
    z-index: 0;
}
input:focus{
    border:1px solid teal;
}
input:focus+.label{
    color:teal;
    top:-5px;
    left:3px;
    z-index:10;
    font-size:10px;
    font-weight: 600;
}
.input:not(:placeholder-shown)+ .label {
    top: -7px;
    left: 3px;
    z-index: 10;
    font-size: 14px;
    font-weight: 600;
  }