*{
    scroll-behavior: smooth;
}
body {
    background-color: black;
}
.navbar-brand {
    font-size: 4rem;
    font-weight: 700;
}
#add {
    height: 80vh;
}
.carousel-item img {
    width: 100%;
    height: 100%;
}
#menu h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    padding: 5vh auto;
}
#menu hr {
    width: 70vw;
    border-top: 3px solid #333;
}
#menu .cate {
    display: flex;
    justify-content: space-around;
    margin: 5vh 10vw 10vh 8vw; 
}
.nav img {
    margin: .5vw;
}